<style type="text/css">
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

/*
html, body {
    padding-top: 20px;
}

[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}
*/
</style>

<script>
    
+ function($) {
    'use strict';

    // UPLOAD CLASS DEFINITION
    // ======================

    var dropZone = document.getElementById('drop-zone');
    var uploadForm = document.getElementById('js-upload-form');

    
    var startUpload = function(files) {
        console.log(files)
    }
    /*
    uploadForm.addEventListener('submit', function(e) {
        var uploadFiles = document.getElementById('js-upload-files').files;
        e.preventDefault()

        startUpload(uploadFiles)
    })
    */

    dropZone.ondrop = function(e) {
        e.preventDefault();
        this.className = 'upload-drop-zone';

        startUpload(e.dataTransfer.files)
    }

    dropZone.ondragover = function() {
        this.className = 'upload-drop-zone drop';
        return false;
    }

    dropZone.ondragleave = function() {
        this.className = 'upload-drop-zone';
        return false;
    }

}(jQuery);
    
/*
$(function() {
    // Remove button click
    $(document).on(
        'click',
        '[data-role="dynamic-fields"] > .form-inline [data-role="remove"]',
        function(e) {
            e.preventDefault();
            $(this).closest('.form-inline').remove();
        }
    );
    // Add button click
    $(document).on(
        'click',
        '[data-role="dynamic-fields"] > .form-inline [data-role="add"]',
        function(e) {
            e.preventDefault();
            var container = $(this).closest('[data-role="dynamic-fields"]');
            new_field_group = container.children().filter('.form-inline:first-child').clone();
            new_field_group.find('input').each(function(){
                $(this).val('');
            });
            container.append(new_field_group);
        }
    );
});
*/
</script>
    
<div ng-include = "'app/menu/mainmenu.html'"></div>

<div class="container">
    <div class="row">
            <div class="col-md-12" ><h1>&nbsp;</h1></div>
    </div>
    <hr>
    <!-- upload start -->
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Document</strong> <small></small></div>
        <div class="panel-body">
              <!-- Standard Form -->
              <form class="form" role="form" ng-submit="submitForm()" accept-charset="UTF-8" id="js-upload-form" ng-controller="DFileUploadController" enctype="multipart/form-data">

                <div class="form-inline">
                  <div class="form-group">
                    <input type="file" id="js-upload-files"  file-model="uploadForm.file" required>
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload</button>
                </div>
                  <div class="form-inline">{{uploadedFile}}</div>  
              </form>

              <!-- Drop Zone -->
              <h4>Or drag and drop files below</h4>
              <div class="upload-drop-zone" id="drop-zone">
                Just drag and drop files here
              </div>
        </div>
    </div>
    <!-- upload end -->
    
    <form class="form" role="form" ng-submit="submitForm()" accept-charset="UTF-8" id="js-upload-form" ng-controller="DAddParticipantsController" >


    <!-- participants start -->
      <div class="panel panel-default">
            <div class="panel-heading"><strong>Select Participants</strong> <small></small></div>
            <div class="panel-body">
                  <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div data-role="dynamic-fields">
                                    <!--
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <label class="sr-only" for="field-name">Field Name</label>
                                            <input type="text" class="form-control" id="field-name" placeholder="Order" size="1" maxlength="1">
                                        </div>
                                        <span>-</span>
                                        <div class="form-group">
                                            <label class="sr-only" for="field-value">Field Value</label>
                                            <input type="text" class="form-control" id="field-value" placeholder="Email">
                                        </div>
                                        <button class="btn btn-danger" data-role="remove">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button class="btn btn-primary" data-role="add">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </div>  <!-- /div.form-inline -->
                                    
                                    <div class="form-inline" data-ng-repeat="participant in participants">
                                        <div class="form-group">
                                            <label class="sr-only" for="field-name">Field Name</label>
                                            <input type="text" readonly="true" ng-model="participant.order" class="form-control" id="field-name" placeholder="Order" size="1" maxlength="1" >
                                        </div>
                                        <span>-</span>
                                        <div class="form-group">
                                            <label class="sr-only" for="field-value">Field Value</label>
                                            <input type="email" ng-model="participant.email" class="form-control" id="field-value" placeholder="Email" required>
                                            <button type='button' ng-show="showRemoveParticipant($index)" ng-click="removeParticipant($index)">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <button type='button' ng-show="showAddParticipant($index)" ng-click="addParticipant()">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>  <!-- /div[data-role="dynamic-fields"] -->
                            </div>  <!-- /div.col-md-12 -->
                        </div>  <!-- /div.row -->
                  </div>  <!-- /div.container -->
            </div>
      </div>
    <!-- participants end -->
    
    <div class="row">
            <div class="col-md-12" ><button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Save & Continue</button></div>
    </div>
    <hr>
    </form>   
    
</div> <!-- /container -->